<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.1.1</string>
	<key>service</key>
	<string>WMS</string>
	<key>format</key>
	<string>image/png</string>
	<key>Transparent</key>
	<string>TRUE</string>
	<key>request</key>
	<string>GetMap</string>
</dict>
</plist>
