<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>satellite</key>
	<string>sentinel:satellite</string>
	<key>satellite_operating_agency</key>
	<string>sentinel:satellite_operating_agency</string>
	<key>temp</key>
	<string>sentinel:temp_kelvin</string>
	<key>latitude</key>
	<string>sentinel:latitude</string>
	<key>longitude</key>
	<string>sentinel:longitude</string>
	<key>power</key>
	<string>sentinel:power</string>
	<key>confidence</key>
	<string>sentinel:confidence</string>
	<key>age</key>
	<string>sentinel:age_hours</string>
</dict>
</plist>
