<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sentinel:hotspot_current</key>
	<string>layer</string>
	<key>filter-0-2</key>
	<string>ModisFire-Red.png</string>
	<key>filter-2-6</key>
	<string>ModisFire-Purple.png</string>
	<key>filter-6-24</key>
	<string>ModisFire-Orange.png</string>
	<key>filter-24-48</key>
	<string>ModisFire-Yellow.png</string>
	<key>filter-48-72</key>
	<string>ModisFire-Grey.png</string>
</dict>
</plist>
