<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Last 0 - 2 hours</key>
	<string>filter-0-2</string>
	<key>Last 2 - 6 hours</key>
	<string>filter-2-6</string>
	<key>Last 6 - 24 hours</key>
	<string>filter-6-24</string>
	<key>Last 24 - 48 hours</key>
	<string>filter-24-48</string>
	<key>Last 48 - 72 hours</key>
	<string>filter-48-72</string>
</dict>
</plist>
