<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Misc.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Indicate cache refreshing</string>
			<key>Key</key>
			<string>tile_cache</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Ignore previously reported hotspots in same session</string>
			<key>Key</key>
			<string>ignore_known_hotspots</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Notification Proximity (1-1000km)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>400</integer>
			<key>Key</key>
			<string>proximity_threshold</string>
			<key>MaximumValue</key>
			<integer>1000</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Update Interval (10 - 300 seconds)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>update_interval</string>
			<key>DefaultValue</key>
			<integer>10</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>300</integer>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
